<div id="managementcalendar"></div>
<script>
$(document).ready(function() {
    $('#managementcalendar').fullCalendar({
        header: {
            left: 'today',
            center: 'prev title next',
            right: 'month,agendaWeek'
        },
        defaultView :'agendaWeek',
        height: 600,
        events: "/users/" + <%= current_user.id %> +'/schedule.json'
    });
});
</script>
