<div id="managementcalendar"></div>
<script>
$(document).ready(function() {
    $('#managementcalendar').fullCalendar({
        header: {
          left: 'prev,today,next',
          center: 'title',
          right: 'month,agendaWeek,agendaDay'
        },
        defaultView :'agendaWeek',
        height: 500,
        events: "/users/" + <%= current_user.id %> +'/schedule.json'
    });
});
</script>
