
<h1>Schedule</h1>

<div id="calendar"></div>
<script>
$(document).ready(function() {
    $('#calendar').fullCalendar({
        header: {
            left: 'today',
            center: 'prev title next',
            right: 'month,agendaWeek'
        },
        defaultView :'month',
        height: 600,
        events: "/parkingspots/" + <%= @parkingspot.id %> +'/schedule.json'
    });
});
</script>
