<div id="parkingspotcalendar"></div>

<script>
$(document).ready(function() {
  $('#parkingspotcalendar').html("")
  $('#parkingspotcalendar').fullCalendar({
    header: {
      left: 'prev,today,next',
      center: 'title',
      right: 'month,agendaWeek,agendaDay'
    },
    defaultView :'agendaWeek',
    height: 600,
    events: "/parkingspots/" + <%= @parkingspot.id %> +'/schedule.json',
    dayClick: function(date, jsEvent, view) {
      modal.style.display = "block";
    }
  });
});
</script>
