<div class="box">
  <div id="searchbar">
    <div id="collab">
      <div id="startsearch">
        <div class='input-group date' id='starttime'>
            <input type='text' class="form-control" placeholder="Start time"/>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div id="endsearch">
        <div class='input-group date' id='endtime'>
            <input type='text' class="form-control" placeholder="End time" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div id="searchbox">
      <div class="input-group">
        <input id="parkingspotsearch" type="text" class="form-control" placeholder="Search by address"/>
        <span class="input-group-btn">
          <button id="parkingspotsearchbutton" class="btn btn-cta btn-cta-primary" type="button">Go!</button>
        </span>
      </div>
    </div>
  </div>
</div>

<% if !@parkingspots.empty? %>
  <div class="box flexmeparkindex">
      <ul class="scrollable-menu box">
        <div id='available_parkingspots'>
      <% @parkingspots.each do |parkingspot| %>
        <li><h1><%= link_to "#{parkingspot.title}", parkingspot_path(parkingspot) %></h1> (<%= parkingspot.address %>)
        Price: $<%= parkingspot.default_price %>/hour</li>
      <% end %>
      </div>
    </ul>
    <div id="map" style='width: 800px; height: 400px;'></div>
  </div>

<% else %>
  <h2>No parking spots listed</h2>
<% end %>
</div>

<script>
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers(<%=raw @markers_hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>
