<div class="box">
  <div id="searchbar">
    <div id="collab">
      <div id="startsearch">
        <div class='input-group date' id='starttime'>
            <input type='text' class="form-control" placeholder="Start time"/>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div id="endsearch">
        <div class='input-group date' id='endtime'>
            <input type='text' class="form-control" placeholder="End time" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div id="searchbox">
      <div class="input-group">
        <input id="parkingspotsearch" type="text" class="form-control" placeholder="Search by address"/>
        <span class="input-group-btn">
          <button id="parkingspotsearchbutton" class="btn btn-default" type="button">Go!</button>
        </span>
      </div>
    </div>
    </div>
  </div>
<% if !@parkingspots.empty? %>
  <div id='available_parkingspots' class="box col-md-5">
    <ul class="scrollable-menu">
    <% @parkingspots.each do |parkingspot| %>
      <li><h1><%= link_to "#{parkingspot.title}", parkingspot_path(parkingspot) %></h1> (<%= parkingspot.address %>)
      Price: $<%= parkingspot.default_price %>/hour</li>
    <% end %>
    </ul>
  </div>

<div id="map" style='width: 600px; height: 400px;'></div>

<!-- <div class="box col-md-7">
  <div class="small-box">
    <h3>Filter by location</h3>
      <div class="input-group">
        <input id="parkingspotsearch" type="text" class="form-control" placeholder="Search by address"/>
        <span class="input-group-btn">
          <button id="parkingspotsearchbutton" class="btn btn-default" type="button">Go!</button>
        </span>
      </div>
    </div>
  </div>
    <div class="small-box">
      <div>
        <h3>Filter by time</h3>
          <div class="form-group col-md-6 small-box">
              <div class='input-group date' id='starttime'>
                  <input type='text' class="form-control" placeholder="Start time"/>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
          </div>
      </div>
      <div>
          <div class="form-group col-md-6 small-box">
              <div class='input-group date' id='endtime'>
                  <input type='text' class="form-control" placeholder="End time" />
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
          </div>
      </div>
      <div id="map" style='width: 100%; height: 400px;'></div>
    </div>
</div> -->
<% else %>
  <h2>No parking spots listed</h2>
<% end %>
</div>

<script>
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers(<%=raw @markers_hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>
