<h1>Available Parking Spots</h1>

<% if  @parkingspots != [] %>
  <div id='available_parkingspots' class="col-sm-5">
    <% @parkingspots.each do |parkingspot| %>
      <%= link_to "#{parkingspot.title}", parkingspot_path(parkingspot) %> (<%= parkingspot.address %>)
      <hr>
    <% end %>
  </div>

  <div class="col-sm-3">
  <h2>Look for parkingspots by time</h2>

  <h3>Start and End time</h3>
  <div class="container">
      <div class='col-sm-2'>
          <div class="form-group">
              <div class='input-group date' id='starttime'>
                  <input type='text' class="form-control" />
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
          </div>
      </div>
      <div class='col-sm-2'>
          <div class="form-group">
              <div class='input-group date' id='endtime'>
                  <input type='text' class="form-control" />
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
          </div>
      </div>
  </div>

  <div id="map" style='width: 800px; height: 400px;'></div>
  </div>
<% else %>
  <h2>No parking spots listed</h2>
<% end %>

<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @markers_hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>
