<div class="box">
  <div id="searchbar">
    <div id="collab">
      <div id="startsearch">
        <div class='input-group date' id='starttime'>
            <input type='text' class="form-control" placeholder="Start time"/>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div id="endsearch">
        <div class='input-group date' id='endtime'>
            <input type='text' class="form-control" placeholder="End time" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div id="searchbox">
      <div class="input-group">
        <input id="parkingspotsearch" type="text" class="form-control" placeholder="Search by address"/>
        <span class="input-group-btn"  style="display: block;">
          <button id="parkingspotsearchbutton" class="btn btn-cta btn-cta-primary hvr-trim" type="button">Go!</button>
        </span>
      </div>
    </div>
  </div>
</div>

<% if !@parkingspots.empty? %>
  <div class="box flexmeparkindex">
      <ul class="scrollable-menu box" style="list-style: none; padding-left: 0; padding-right: 20px; width: 40%; display: inline-block; padding-right: 8px; margin-right: 8px;">
        <div id='available_parkingspots'>
      <% @parkingspots.each do |parkingspot| %>
      <div class="box tile hvr-underline-from-left" style="display: block">
        <li><h3 style="display:inline-block"><%= link_to "#{parkingspot.title}", parkingspot_path(parkingspot) %></h3> ($<%= (parkingspot.default_price).round(2) %>/hour)
        <h4>(<%= parkingspot.address %>)</h4>
      </div>
      <% end %>
      </div>
    </ul>
    <div id="map" style='width: 60%; height: 400px;'></div>
  </div>

<% else %>
  <h2>No parking spots listed</h2>
<% end %>
</div>

<script>
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers(<%=raw @markers_hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>
