<div id="section4" class="container-fluid" style="display:flex; align-items: center;">
  <%= image_tag "facebook.png", class: "ftr-icon"%>
  <%= image_tag "twitter.png", class: "ftr-icon"%>
  <%= image_tag "instagram.png", class: "ftr-icon"%>
</div>
